<div class="container">
  <div class="row">
    <div class="form_bg">
      <form ngNativeValidate (ngSubmit)="login()">
        <h2 class="text-center">Youtube</h2>
        <br/>
        
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="user.username" placeholder="Username" [(ngModel)]="user.username" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="pwd" name="user.password" placeholder="Password" [(ngModel)]="user.password" required>
        </div>
        <br/>
        
        <div class="align-center">
          <button type="submit" class="btn btn-primary" id="login">Login</button>
        </div>
      </form>

      <div *ngIf="!isValid" class="alert alert-danger" id="formError">
        Invalid Credentials!
      </div>
    </div>
  </div>
</div>
