<p>{{viewSetting.lengthMax}}</p>
<p>{{viewSetting.lengthMin}}</p>
<p>{{viewSetting.uploadTimeMin}}</p>
<p>{{viewSetting.uploadTimeMax}}</p>
<p>{{query}}</p>
<div>
  <input type="text" class="form-control float-left" id="search" name="search" placeholder="Search" [(ngModel)]="search">
  <button type="submit" class="btn btn-danger" (click)="searched()">Search</button>
</div>
<p>{{items}}</p>


<div class="white-box">
  <table class="table" style="width:75%">
    <ng-container *ngFor="let vid of obj.items; let i = index">
      <tr *ngIf="viewSetting.lengthMax > vidMins[i] && vidMins[i] > viewSetting.lengthMin">
        <td>
          <img src="{{vid.snippet.thumbnails.medium.url}}">
        </td>
        <td>
          <h3>{{vid.snippet.title}}</h3>
          <h6>{{vid.snippet.description}}</h6>
          <h6>{{viewSetting.lengthMax}} , {{ vidMins[i] }} , {{viewSetting.lengthMin}}</h6>
          <h4>{{vid.snippet.publishedAt | date}}</h4>
        </td>
      </tr>
    </ng-container>
  </table>
</div>