<head>
  <style>
    /* #video1 {
      transform: translate3d(100px, 100px, 0);
    } */

    #searchBar {
      transform: translate3d(300px, 50px, 0);
    }
  </style>
</head>
<div class="container" id="customization" (click)="move($event)">
  <div id="searchBar">
    <input type="text" class="form-control float-left" id="search" name="search" placeholder="Search" [(ngModel)]="search">
    <button type="submit" class="btn btn-danger">Search</button>
  </div>
  <div id="video1" [ngStyle]="{'transform': 'translate3d(100px, 100px, 0)'}">
    <iframe class="youtube-player" type="text/html" width="560" height="305" [src]="sanitizer.bypassSecurityTrustResourceUrl(vidUrl)"></iframe>
  </div>
  <div id="video2">
    <iframe class="youtube-player" type="text/html" width="560" height="305" [src]="sanitizer.bypassSecurityTrustResourceUrl(vidUrl)"></iframe>
  </div>
</div>