<div class="container">
  <div class="row">
    <div class="form_bg">
      <form ngNativeValidate (ngSubmit)="register()">
        <h2 class="text-center">Youtube Paws Reimbursement</h2>
        <br/>
        
        <div class="form-group">
          <label for="ersUsername">Username</label>
          <input type="text" class="form-control" id="ersUsername" name="user.ersUsername" placeholder="Username" required [(ngModel)]="user.ersUsername"/>
        </div>

        <div class="form-group">
          <label for="ersPassword">Password</label>
          <input type="password" class="form-control" id="pwd" name="user.ersPassword" placeholder="Password" [(ngModel)]="user.ersPassword" required>
        </div>

        <div class="form-group">
          <label for="userFirstName">First Name</label>
          <input type="text" class="form-control" id="userFirstName" name="user.userFirstName" placeholder="First Name" [(ngModel)]="user.userFirstName" required>
        </div>

        <div class="form-group">
          <label for="ersPassword">Last Name</label>
          <input type="text" class="form-control" id="userLastName" name="user.userLastName" placeholder="Last Name" [(ngModel)]="user.userLastName" required>
        </div>

        <div class="form-group">
          <label for="ersEmail">Email</label>
          <input type="email" class="form-control" id="ersEmail" name="user.userEmail" placeholder="Email" [(ngModel)]="user.userEmail" required>
        </div>
        <br/>
        
        <div class="align-center">
          <button type="submit" class="btn btn" id="register">Register</button>
        </div>
      </form>

      <div *ngIf="!isValid" class="alert alert-danger" id="formError">
        Invalid Credentials!
      </div>
    </div>
  </div>
</div>