#playlist {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(170, 169, 169);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 106px;
}

#playlist a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#playlist a:hover {
    color: #f1f1f1;
}

#playlist .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#view-settings {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(170, 169, 169);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 106px;
}

#view-settings a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#view-settings a:hover {
    color: #f1f1f1;
}

#view-settings .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  #playlist {padding-top: 15px;}
  #playlist a {font-size: 18px;}
  #view-settings {padding-top: 15px;}
  #view-settings a {font-size: 18px;}
}

.form-control {
    float: left;
    margin-left: 10px;
}

#viewIndex {
    width: 190px;
}

#playText {
    font-size: 1em;
}
